 /* Common Styling */
 header {
    background-color: #004080;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #003366;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}


/* Homepage */
#homepage_main {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#homepage_main h2 {
    color: darkblue;
}

#key_features {
    font-weight: bold;
}

#homepage_main ul {
    margin: 0px 500px;
}

/* Login page */
.main_loginpage{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #d4d4d4;
    padding: 30px;
    margin: 30px 150px;
    border-radius: 30px;
    box-shadow: 5px 5px #e3e3e3;
}

#login_title{
    color: darkblue;
    text-align: center;
}

.login_input_fields{
    background-color: lightyellow;
    padding: 10px;
    border: 3px solid darkgray;
    border-radius: 5px;
    width: 100%;
    display: block;
}

.loginpage_items{
    align-items: center;
    text-align: center;
    padding: 20px;
}

.login_button{
    background-color: #008000;
    color: white;
}

.login_button:hover{
    background-color: #006600;
}

.login_forgot_password{
    text-decoration: none;
    color: #004080;
}

.login_forgot_password:hover{
    text-decoration: underline;
}

/* Course view page */

.course_view_main  {
    text-align: center;
}

.course_view_main h2{
    color: darkblue;
}

#term {
    background-color: lightyellow;
    border-radius: 5px;
    padding: 5px;
}

.tiles {
    background-color: #e6f2ff;
    box-shadow: 5px 5px #e8e8e8;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

#button_accept {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

#button_accept:hover{
    background-color: #265e28;
}

#button_decline {
    background-color: #D32F2F;
    color: white;
    border-radius: 5px;
}

#button_decline:hover{
    background-color: #821b1b;
}


/* Attempt Quiz Page */
#attempt_quiz_main {
    text-align: center;
}

/* Quiz Banner */
#quiz_banner img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

/* Course & Quiz Details */
.course_quiz_details {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    margin: 0 250px;
}

.course_quiz_details h2 {
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
}

/* Quiz Questions */
.quiz_questions {
    background-color: #cacaca;
    padding: 15px;
    margin: 15px 400px;
    text-align: left;
}

/* Submit And Finish Quiz Buttons */
.submit_button {
    padding: 10px;
    border: none;
    background-color: lightblue;
    color: black;
    border-radius: 5px;
}

.submit_button:hover {
    background-color: darkblue;
    color: white;
}

.finish_button {
    padding: 10px;
    border: none;
    background-color: #D32F2F;
    color: white;
    border-radius: 5px;
}

.finish_button:hover {
    background-color: #821b1b;
}



/* Leaderboard Page */
.leaderboard img{
    width:50px;
    height:50px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
}
.leaderboard td, th {
    padding: 0px 10px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.leaderboard table {
    border-collapse: collapse;
    width: 100%;
}

#leaderboard_th {
    background-color: #4CAF50; 
    color: white; 
    font-size: xx-large;
}

.first_place {
    background-color: #FFD700;
}

.second_place {
    background-color: #C0C0C0;
}

.third_place {
    background-color: #CD7F32;
}

.remaining_rows:nth-child(odd) {
    background-color: #f9f9f9;
}

.remaining_rows:nth-child(even) {
    background-color: #e4e2e2;
}
